<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="AnalyzersRules" Description="Analyzers custom ruleset" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1121" Action="None" /> 
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1401" Action="None" />

  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1051" Action="None" />
  </Rules>
</RuleSet>

